.cardContainer {
  width: 21%;
  display: none;
  height: 150px;
  border-radius: 100%;
  border: 2px black solid;
  border-style: solid;
  margin: 10px;
  background-color: yellow;
}

.image {
  border: 1px black solid;
  border-radius: 100%;
  border-style: solid;
  height: 123px;
  display: none;
  width: auto;
}

.circle {
  padding: 0;
  margin: 0;
  margin-left: 1em;
  margin-top: 0.5em;
}

.cardText {
  color: black;
}
