.cardContainer {
  width: 350px;
  height: 200px;
  border-radius: 25px;
  border: 2px black solid;
  margin: 10px;
}

.image {
  border: 1px black solid;
  border-radius: 25px;
  width: 200px;
  height: 200px;
}

.cardText {
  color: black;
}
