@import url('https://fonts.googleapis.com/css?family=Bangers|Oswald:200,400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background-color: yellow;
  background-image: url('http://i.imgur.com/US8HynQ.png');
  background-repeat: repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid white;
    border-left: 80px solid dodgerblue;
    width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bangers', sans-serif;
}
